@font-face {
  font-family: "Saira";
  src: url("fonts/saira-extracondensed-semibold.woff") format("woff");
}
@font-face {
  font-family: "Plymouth";
  src: url("fonts/plymouth.woff2") format("woff2");
}
